body, div, p, h1, h2, h3, h4, h5 {
font-weight: 400;
margin: 0;
padding: 0;
font-size: 1em;
}
body {
margin: 2em;
}
h2 {
font-weight: 700;
font-size: 2em;
margin-top: 1em;
margin-bottom: .3em;
}
.margin {
margin-top: 2em;
}
.description {
font-size: .8em;
}
.loading {
margin-top: 5em;
font-size: .8em;
}
h3 {
font-weight: 700;
font-size: 2em;
margin-top: 2em;
margin-bottom: .5em;
}
h4 {
font-weight: 700;
font-size: 1.3em;
margin-top: 1em;
margin-bottom: .5em;
}
p {
margin-top: .5em;
margin-bottom: .5em;
}
body {
background-color: #131a22;
color: #c8cdd0;
font-size: 1em;
font-weight: 400;
font-family: sans-serif;
line-height: 1.5;
}
table, tr, td {
border-collapse: collapse;
border: 0;
}
table {
border-spacing: 0;
width: 42em;
}
th, td {
text-align: center;
padding: .5em;
height: 4em;
width: 7em;
font-size: 0.8em;
}
.stats tbody tr {
border-top: 2px dashed #20638f;
background-color: #2980b9;
background-image: url(./img/tide.svg);
background-position: 50%;
background-repeat: repeat-x;
background-size: auto 150%;
}
.stats tbody tr:nth-child(1) {
background-position-y: 1.5em;
}
.stats tbody tr:nth-child(2) {
background-position-y: .5em;
}
.stats tbody tr:nth-child(3) {
background-position-y: -.5em;
}
.stats tbody td:not(:first-child) {
border-left: 2px dashed #20638f;
}
.stats-b tbody tr {
border-top: 2px dashed #666;
}
.stats-b thead th:not(:first-child),
.stats-b tbody td:not(:first-child) {
border-left: 2px dashed #666;
}
.stats-b tbody tr:nth-child(1),
.stats-b tbody tr:nth-child(2),
.stats-b tbody tr:nth-child(5),
.stats-b tbody tr:nth-child(7),
.stats-b tbody tr:nth-child(10),
.stats-b tbody tr:nth-child(12),
.stats-b tbody tr:nth-child(14),
.stats-b tbody tr:nth-child(17) {
border-top: 2px solid #c8cdd0;
}
a {
color: #2fe3be;
cursor: pointer;
text-decoration: none;
}
a:hover {
color: #2fe3be;
text-decoration: underline #2fe3be;
}
a:hover .golden-egg {
text-decoration: underline #f1c40f;
}
a:hover .power-egg {
text-decoration: underline #e67e22;
}
.golden-egg {
color: #f1c40f;
font-weight: 700;
}
.power-egg {
color: #e67e22;
font-weight: 700;
}